@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --font-sans: '.SF NS', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.font-rounded {
    font-family: 'SF Pro Rounded', ui-sans-serif, system-ui, sans-serif;
}

/* Import font from public/fonts... */
@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../public/fonts/SF-Pro-Rounded-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

